<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>

    <!-- LINK FILE  -->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- /LINK FILE -->

    <!-- LINK FONT-AWESOME  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- /LINK FONT-AWESOME  -->


    <!-- LINK FONT FAMILY -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <!-- /LINK FONT FAMILY -->

    
</head>
<body>
    <div id="root">
        <section class="window">
            <div class="container">

                <!-- ROW LEFT  -->
                <section class="row-left">

                    <!--USER  -->
                    <div class="user">

                        <div class="user-img">
                            <img src="img/avatar_io.jpg" alt="user/img">
                            <h4>Sofia</h4>
                        </div>

                        <div class="user-tools">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                    </div>
                    <!-- /USER  -->
                    
                    <!-- NOTIFICATION SOUND -->
                    <div class="notification-sound">
                        <i class="fas fa-bell-slash"></i>
                        <div class="notificatio-text">
                            <h6>Ricevi notifiche di nuovi messaggi</h6>
                            <a class="a-tx" href="">Attiva notifivhe desktop</a>
                        </div>
                    </div>
                    <!-- /NOTIFICATION SOUND -->

                    <!-- ROW INPUT  -->
                    <div class="search">
                        <div class="contain-search">

                                <label id="filter-text" style="background:white;" class="button"><i class="fas fa-search"></i></label>
                                <input id="filter-text" type="text" placeholder="Cerca o inizia una nuova chat"  @keyup="filter"  v-model="search">
                               
                        </div>
                    </div>
                    <!-- /ROW INPUT  -->

                    <!-- ROW CHAT  -->
                    <div class="chat">
                        <div v-for="(item, index) in contacts"
                             v-if="item.visible"   
                             :class="{'contact--active' : currentContact === index}"  class="chat-user" 
                             @click="openChat(item, index)">
                                <div class="chat-img">
                                    <img class="chat-img" :src="'img/avatar' + item.avatar + '.jpg'" :alt="item.name">
                                </div>
                                <div class="chat-tx">
                                    <div class="row-nm-clk">
                                        <h4>{{ item.name }}</h4>
                                        <div class="clock">12:00</div> 
                                    </div>
                                    <p>Ultimo messaggio</p> 
                                </div>
                        </div>

                    </div>

                    <!-- /ROW CHAT  -->

                </section>
                <!-- /ROW LEFT  -->

                <!-- ROW RIGHT -->
                <section class="row-right">

                    <!-- ACTUAL-USER-CHAT  -->
                    <div class="actual-user-name">

                        <div class="actual-user-img user">
                           <div class="actual-user">
                               <img class="chat-img" :src="'img/avatar' + contacts[currentContact].avatar + '.jpg'" alt="">
                               <div class="chat-tx">
                                   <h4>{{ contacts[currentContact].name }}</h4>
                                   <p>Ultimo accesso oggi alle 12:00</p>
                               </div>
                            
                           </div>
                            <div class="actual-user-icon">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                            
                        </div>

                        <div class="actual-iser-chat-icons">

                        </div>
                    </div>
                    <!-- /ACTUAL-USER-CHAT  -->

                    <!-- CHAT  -->
                    <div class="see-message">

                        <div class="clearfix" v-for="infodato in contacts[currentContact].messages">
                            <div class="message" :class="infodato.status == 'sent' ? 'send' : 'recived'">
                               <div class="miniRowMessage">

                                 <p class="theMessage">
                                     {{ infodato.message }}
                                 </p>

                                 <!-- <label for="options"><i class="fas fa-angle-down"></i></label>
                                 <section name="options" id="option">
                                     <option value="info">Message info</option>
                                     <option value="delete">Delete message</option>
                                 </section> -->
                                 <ul class="iconSelect">
                                     <li><i class="fas fa-angle-down"></i>
                                        <ul class="tendina">
                                            <li>Messaggio info</li>
                                            <li>Deleted Message</li>
                                        </ul>
                                    </li>
                                     
                                 </ul>

                               </div>
                                <div class="message-time">
                                    {{ infodato.date }}
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /CHAT  -->

                    <!-- INPUT-MESSAGE  -->
                    <div class="write-message">
                        <i class="far fa-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage">
                        <i class="fas fa-microphone"></i>
                    </div>
                    <!-- /INPUT-MESSAGE  -->
                    
                </section>
                <!-- /ROW RIGHT -->


            </div>
        </section>

        <!-- <section class="main-window"> 

        </section> -->
    </div>
<script src="js/script.js"></script>
</body>
</html>